<p> <center> Once upon a midnight dreary, while I web - surfed weak and weary <br>
searching for strange and spurious blog post of long forgotten lore -- <br>
Suddenly, as I was yawning, from the server came a warning, and my heart was filled with morning. <br> 
For the page, it was no more. <br>
"'Tis some glitch," I muttered, "a glitch about my modem poor." <br>
So my query, I repeated, yet the server, so conceited, <br>
said the page, it was deleted, gone away forevermore. <br>
In loathsome answer to my query, then the server spake so clearly. <br> 
Came its message, dark and dreary:  <br>
Quoth the server,</center>  </p>
<h2><center> 404 </center><h2>      

